<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/style.css"> 
     <link rel="icon" type="image/x-icon" href="/css/images/greenatwork-logo.png">
    <script src="/js/script.js"></script> 
</head>
<body>
    <div class = "popup" id="popup-2">    
        <div class="overlay"></div>
            <div class="content">
                <div class="close-btn" onclick="togglePopup()">&times;</div>
                <h1>Confirm Register</h1>
                    <span><p>Do you want to add this user?</p></span>
                <div class="otp-button"><button id="register-button">Confrim</button></div>
                </form>
            </div>
        </div>

    </div>
        <div class = "popup" id="popup-3">    
        <div class="overlay"></div>
            <div class="content">
                <div class="close-btn" onclick="togglePopup2()">&times;</div>
                <h1>New User Has Been Added</h1>
                <div class="otp-button"><button onclick="togglePopup2()">Confrim</button></div>
                </form>
            </div>
        </div>
    </div>
    
<div class="left-payroll admin-leftdash">
    <div class="admin-leftdash-top">
        <h2>Add/Delete Employee</h2>
        <div class="empman-header">
            <div class="dropdown-page">
                <select onchange="navigate()">
                    <option value="register">Add Employee</option>
                    <option value="delete_user">Delete Employee</option>
                </select>
            </div>
        </div>
        <div class="emp-info">
            <div><!-- Placeholder info -->
                <p>First Name: <span><input type="text" name="firstName" placeholder="First Name" id="firstName"></span></p>
                <p>Last Name: <span><input type="text" name="lastName" placeholder="Last Name" id="lastName"></span></p>
                <p>Address: <span><input type="text" name="address" placeholder="Address" id="address"></span></p> 
                <p>Contact Number: <span><input type="number" name="contactNumber" placeholder="eg.0967897423" id="contactNumber"></span></p> 
              </div>
              <div>
                <p>Email: <span><input type="email" name="email" placeholder="Email" id="email"></span></p> 
                <p>Password: <span><input type="password" name="password" placeholder="Password" id="password"></p>
                <p>Role:<span>
                    <select name="employeeType" id="employee-type" class="role-dropdown">
                        <option>Employee</option>
                        <option>Work From Home</option>
                        <option>Admin</option>
                    </select></span></p> 
              </div>
        </div>
        <div class="ad-left-btn">
            <button type="button"  class="ad-leftdash-btn" onclick="togglePopup()">
                <p>Confirm Add Employee</p>
            </button>
        </div>
    </div>
</div>
<script>
    function navigate() {
        var selectElement = document.querySelector(".dropdown-page select");
        var selectedOption = selectElement.options[selectElement.selectedIndex];
        if (selectedOption.value) {
            window.location.href = selectedOption.value;
        }
    }
</script>
{{>adminsidenav}}
<script src="/js/register.js"></script>
</body>
</html>